@page
@model PyzaFinder.Pages.AdminGalleryModel
@{ Layout = "~/Views/Shared/_Layout.cshtml"; }
@section Styles {
    <link rel="stylesheet" href="~/css/Gallery.css" />
}

<div style="display:inline-block;">
    <h2 style="font-size:50px; text-align:center; padding:30px; padding-left: 90px;"> @Model.DumplingRestaurant.Name </h2>
</div>
<div style="display:inline-block; float:right; padding: 30px; padding-right: 60px;">
    <a asp-page="AddPhoto" style="background-color: white; -webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.3); box-shadow: 0px 0px 9px 1px rgba(0,0,0,0.3); border: none; color: black; padding: 16px 16px; text-align: center; text-decoration: none; display: inline-block; font-size: 26px; cursor: pointer; border-radius: 23px; border: 1px solid white; width: 420px; height: 52px; padding-top: 6px; margin-top: 5px;">Add new photo</a>
</div>

<div id="gallery" style="border-radius: 46px; background-color: white; -webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.3); box-shadow: 0px 0px 9px 1px rgba(0,0,0,0.3); height: 500px; margin-left: 60px; margin-right: 60px;">
    <div class="card-deck" style=" padding: 30px;">
        @foreach (var photo in Model.Photos)
        {
        <div class="card m-3" style="max-width: 30%;  display: block;">
            <img class="card-img-top imageThumbnail" src="@photo.Path" asp-append-version="true" style="height: 288px;"/>
            <div class="card-footer text-center">
                <button style=" background-color: white; -webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.3); box-shadow: 0px 0px 9px 1px rgba(0,0,0,0.3); border: none; color: black; padding: 16px 16px; text-align: center; text-decoration: none; display: inline-block; font-size: 22px; cursor: pointer; border-radius: 23px; margin-left: 1px; margin-right: 15px; margin-bottom: 8px; margin-top: 8px; border: 1px solid white; width: 115px; height: 40px; padding-top: 1.4px;" asp-page-handler="Delete" asp-route-id="@photo.IdPhoto" onclick="return confirm('Are you sure you want to delete?')">Delete</button>
            </div>
            </div>
            }
        </div>
        </div>
<div id="pyza" style="height:150px;">
    <div style="padding: 60px;">
        <a asp-page="Index" style="background-color: white; -webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.3); box-shadow: 0px 0px 9px 1px rgba(0,0,0,0.3); border: none; color: black; padding: 16px 16px; text-align: center; text-decoration: none; display: inline-block; font-size: 26px; cursor: pointer; border-radius: 23px; border: 1px solid white; width: 420px; height: 52px; padding-top: 6px; margin-top: 5px;">Back to admin panel</a>
    </div>
    <img src="~/img/pyzunia.png">
</div>