@page
@model PyzaFinder.Pages.IndexModel
@{ Layout = "~/Views/Shared/_Layout.cshtml"; }
@section Styles {
    <link rel="stylesheet" href="~/css/Index.css" />
}
<div class="text-center">

    <h1>PyzaFinder</h1>

    <a asp-page="Map" >User</a>
    <a asp-page="Login">Admin</a>
</div>

    




