@page
@{ Layout = "~/Views/Shared/_Layout.cshtml"; }
@model PyzaFinder.Pages.LoginModel
@{ }
@section Styles {
    <link rel="stylesheet" href="~/css/CreateEdit.css" />
}

<HEAD>
    <META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=iso-8859-2">
    <SCRIPT LANGUAGE="JavaScript" type="text/javascript">
        var users = new Array("user1", "user2", "user3");
        var passwords = new Array("kod1", "kod2", "kod3");
        function sprawdz_haslo(user, pass) {
            for (var i = 0; i < users.length; i++) {
                if ((user == users[i]) && (pass == passwords[i]))
                    return true;
            }
            return false;
        }
        function wyjdz() {

                document.location.href = "Index";

        }
        function check() {
            var user = document.form1.user.value;
            var pass = document.form1.pass.value;
            if (!sprawdz_haslo(user, pass)) {
                alert('Niepoprawne hasło!');
            }
            else {
                document.location.href = "AdminPanel";
            }
        }

    </SCRIPT>
</HEAD>
<BODY>
    <CENTER>
        <H2 style="padding-top: 150px;">Enter login and password:</H2>
        <FORM NAME="form1">
            <TABLE border="1">
                <TR>
                    <TD bordercolor="#FFFFFF">Login:</TD>
                    <TD bordercolor="#FFFFFF">
                        <INPUT TYPE="text" NAME="user">
                    </TD>
                </TR>
                <TR>
                    <TD bordercolor="#FFFFFF">Password:</TD>
                    <TD bordercolor="#FFFFFF">
                        <INPUT style="font-family:Arial;" TYPE="password" NAME="pass">
                    </TD>
                </TR>
                <TR>
                    <TD colspan="2" align="center" bordercolor="#FFFFFF">
                        <INPUT TYPE="button" VALUE="Sign In" onClick="check();">
                        <INPUT TYPE="button" VALUE="Back" onClick="wyjdz();">
                    </TD>
                </TR>

            </TABLE>
        </FORM>
    </CENTER>
</BODY>