#form {
    background-color: white;
    -webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.3);
    box-shadow: 0px 0px 9px 1px rgba(0,0,0,0.3);
    border-radius: 46px;
    padding: 30px;
    margin-left: 60px;
    margin-right: 60px;
}
.form2 {
    display: inline-block;
    width: 49%;
    padding: 50px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.button {
    background-color: white;
    -webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.3);
    box-shadow: 0px 0px 9px 1px rgba(0,0,0,0.3);
    border: none;
    color: black;
    padding: 16px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 26px;
    cursor: pointer;
    border-radius: 23px;
    margin-left: 1px;
    margin-right: 15px;
    margin-bottom: 8px;
    margin-top: 8px;
    border: 1px solid white;
    width: 200px;
    height: 50px;
    padding-top: 6px;
}
#pyza {
    position: relative;
}
#pyza img {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 12%;
    height: auto;
    margin: 40px;
}
input {
    width: 100%;
}