<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/_Layout.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
    @RenderSection("Styles", false)
</head>
<body>
    <div id="center">
        @RenderBody()
    </div>
</body>
</html>
